@media screen and (min-width: 800px){
	.cv{
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}

	.portrait-photo {
	    float: left;
	    margin: 20px 20px 20px 0;
	    max-width: 33%;
	    display: block;
	    background: url(../img/couverture.JPG) no-repeat 0 0;
	    background-size: 180px 214px;
	    width: 180px;
	    height:214px;
	    border-radius: 5px;
	}
}

/*@media screen and (max-width: 1050px){
	.cv{
		padding: 30px;
		margin-right: auto;
		margin-right: auto;
	}
	header{
		padding-left:30px;
		padding-right: 30px;
	}
}*/