/************Reset**************/
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, fieldset, legend, label, table, header, footer, nav, section { 
	margin: 0; 
	padding: 0;
	border: 0;
}
ol, ul { 
	list-style: none; 
}
header, footer, nav, section, article, hgroup, figure {
	display: block;	
}
legend {
	display: none;
}

a{
	text-decoration: none;
}
/************End Reset**************/
/************Global*****************/
html, body{
	width: 100%;
	height:100%;
}

body{
	background: url(../img/bg_texture.png);
	font-family: "Open Sans",Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-size: 12px;
	color: #2E2E2E;
}

a{
	color :#4e6d7d;
}

a:hover{
	text-decoration: underline;
}

span{
	color: #7e7361;
}
/************Global*****************/
/*************Header****************/
header{
	box-shadow: 0px 0px 2em #A99D9D;
	height: 12em;
	width: 100%;
}

header .header_wrapper{
	width: 919px;
    margin: auto;
    display: flex;
    padding: 3em 0;
}

header .title{
	float: left;
    flex: 2;
    width: auto;
}

header .social{
    width: auto;
}

header .name{
	text-transform: lowercase;
    font-size: 3.4em;
    font-family: Lobster,Georgia,Times,"Times New Roman",serif;
}

header .job{
    font-size: 22px;
    font-weight: 500;
    text-transform: lowercase;
}


.social li{
	display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 15px;
    cursor: pointer;
    opacity: .4;
}

.social li:hover{
	opacity: 1;
}
.social #github{
	background: url(../img/github.png) no-repeat 0px 0px;
	background-size: 50px 50px;
}

.social #linkedin{
	background: url(../img/linkedin.png) no-repeat 0px 0px;
	background-size: 50px 50px;
}

.social #google{
	background: url(../img/google.png) no-repeat 0px 0px;
	background-size: 50px 50px;
}
/*************Header****************/
/*************Main****************/
.cv{
	padding: 8px 1em;
}
section{
	margin: 3em 0;
}

section h3{
	font-family: Lobster,Georgia,Times,"Times New Roman",serif;
    font-size: 2.1em;
    border-bottom: solid 1px #aea18d;
    padding-bottom: 10px;
}

.portrait-photo {
    display: none;
}

section p, section ul{
	font-size: 17px;
	padding-top: 1.5em;
}

section div h4, section div h5, section div h6{
	font-family: 'Open Sans',Arial,"Helvetica Neue",Helvetica,sans-serif;
}

section div h5, section div h6{
	font-weight: 500;
}

section div h4{
	font-size: 19px;
    font-weight: 700;
}

section div h5{
	font-size: 17px;
	color: #444;
}

section div h6{
	color: #777;
	font-size: 14px;
}
section div{
	margin-top: 3em;
}
/****************PERSONNAL PROFILE******************/
/*.perso_prof a{
	color :#4e6d7d;
}

.perso_prof a:hover{
	text-decoration: underline;
}*/

/*.perso_prof span{
	color: #7e7361;
}*/
/***************END PERSONNAL PROFILE*******************/
/****************SKILLS******************/
.skills ul{
	list-style-type: disc;
}
.skills li{
	line-height: 1.7em;
}
.list_1{
	margin-left: 1.5em;
	float: left;
}
.list_2{
	margin-left: 54%
}
/****************END SKILLS******************/
/****************EMPLOYMENT******************/
.history_detail{
	margin-top: 0;
}
/****************END EMPLOYMENT******************/
/********************EDUCATION*******************/
.schools{
	font-weight: bold;
    font-size: 19px;
}
.education span{
	color: #777;
    font-size: 14px;
}
/********************End EDUCATION**************/
/*************Main****************/
/*************Footer****************/
footer{
	position: absolute;
    height: 4em;
    width: 100%;
    text-align: center;
    background-color: #2E2E2E;
    color: white;
    line-height: 4em;
    font-size: 1.25em;
    margin:0;
}
/*************Footer****************/