.App {
    height: 100%;
    display: flex;
}

.App__barsIcon {
    background-color: transparent;
    border: 0;
    position: relative;
    left: 10px;
    top: 10px;
    outline: none;
}

.App__Content {

}

/**Tablet*/
@media screen and (max-width: 1024px) {

}

/* Mobile */
@media screen and (max-width : 720px) {
}
